@model MSMS.Models.Shared.MenuModel

@{
    var activeSection = ViewBag.ActiveSection as string;
}

<div class="menu-item @(activeSection == "Diagnosis" ? "active" : "")" data-active="false">
    <a href="/Diagnosis/MedicalRecords">
        <div class="logo">
            <img src="~/images/Dashboard/First-menu-item-firstimg.svg" alt="">
            <img src="~/images/Dashboard/First-menu-item-secondimg.svg" alt="">
        </div>

        <span>
            Laboratory and Diagnostic
        </span>
    </a>

    <div class="user-container">

    </div>
</div>

<div class="menu-item @(activeSection == "Inventory" ? "active" : "")" data-active="false">

    <a href="/Dashboard/Inventory">
        <div class="logo">
            <img src="~/images/Dashboard/Second-menu-item-firstimg.svg" alt="">
            <img src="~/images/Dashboard/Second-menu-item-secondimg.svg" alt="">
        </div>
        <span>
            Medicinal Inventory
        </span>
    </a>
</div>

<div class="menu-item @(activeSection == "ActiveProcedures" ? "active" : "")" data-redirect="false">
    <a href="/Procedure/ActiveProcedures">
        <div class="logo">
            <img src="~/images/Dashboard/Third-menu-item-firstimg.svg" alt="">
            <img src="~/images/Dashboard/Third-menu-item-secondimg.svg" alt="">
        </div>

        <span>
            Patient Procedures
        </span>
    </a>
</div>

<div class="menu-item @(activeSection == "Procedures" ? "active" : "")" data-ref="Payments">
    <a href="/Procedure/Procedures">
        <div class="logo">
            <img src="~/images/Dashboard/Fourth-menu-item-firstimg.svg" alt="">
            <img src="~/images/Dashboard/Fourth-menu-item-secondimg.svg" alt="">
        </div>

        <span>
            Procedures
        </span>
    </a>
</div>

<div class="menu-item @(activeSection == "Notifications" ? "active" : "")" data-ref="Notifications">
    <a href="/Dashboard/Notifications">
        <div class="logo">
            <img src="~/images/Dashboard/Fifth-menu-item-firstimg.svg" alt="">
            <img src="~/images/Dashboard/Fifth-menu-item-secondimg.svg" alt="">
        </div>

        <span>
            Notifications and Alerts
        </span>
    </a>
</div>
