@{
    ViewData["Title"] = "Medicine Inventory";
}

@model MSMS.Models.MedicineInventory.CombinedMedicineSupplierModel

<div class="container">
    <div class="max-w search-bar">
        <form asp-action="Inventory" method="post" class="inventory-form">
            <span><i class="fas fa-search"></i></span>
            <input type="text" class="input-search" name="searchString" value="@ViewData["SearchString"]" />
            <input type="submit" hidden />
        </form>
    </div>
    <div class="div-table">
        <h1>Test Test</h1>
        <div class="div-table-row table-header">

            <div class="div-table-cell">
                <span>ID</span>
            </div>
            <div class="div-table-cell">
                <span>Brand Name</span>
            </div>
            <div class="div-table-cell">
                <span>Generic Name</span>
            </div>
            <div class="div-table-cell">
                <span>Quantity</span>
            </div>
            <div class="div-table-cell">
                <span>Dosage</span>
            </div>
            <div class="div-table-cell">
                <span>Expiry Date</span>
            </div>
            <div class="div-table-cell">
                <span>Supplied Date</span>
            </div>
            <div class="div-table-cell">
                <span>Supplier</span>
            </div>
            <div class="div-table-cell">
                <span>Price</span>
            </div>
            <div class="div-table-cell">
                <span>Reorder Level</span>
            </div>

        </div>
        @foreach(var medicine in Model.Medicines)
        {
            <div class="div-table-row">
                <div class="div-table-cell">
                    <span>@medicine.Id</span>
                </div>
                <div class="div-table-cell">
                    <span>@medicine.BrandName</span>
                </div>
                <div class="div-table-cell">
                    <span>@medicine.GenericName</span>
                </div>
                <div class="div-table-cell">
                    <span>@medicine.Quantity</span>
                </div>
                <div class="div-table-cell">
                    <span>@medicine.Dosage</span>
                </div>
                <div class="div-table-cell">
                    <span>@medicine.ExpiryDate</span>
                </div>
                <div class="div-table-cell">
                    <span>@medicine.SuppliedDate</span>
                </div>
                <div class="div-table-cell">
                    <span>@medicine.Supplier.Name</span>
                </div>
                <div class="div-table-cell">
                    <span>@medicine.Price</span>
                </div>
                <div class="div-table-cell">
                    <span>@medicine.ReorderLevel</span>
                </div>
            </div>
        }
    </div>
</div>