@model MSMS.Models.Diagnosis.Patient

<div class="container">
    <div class="record-container">
        <h1>Medical Record</h1>

        <div class="patient-container">
            <div class="patient-info">
                <label for="first-name"> First Name:</label>
                <input type="text" id="first-name" value="@Model.FirstName" disabled>
            </div>
            <div class="patient-info">
                <label for="middle-name">Middle Name:</label>
                <input type="text" id="middle-name" value="@(Model.MiddleName ?? "")" disabled>
            </div>
            <div class="patient-info">
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" value="@Model.LastName" disabled>
            </div>
            <div class="patient-info">
                <label for="date-of-birth">Date of Birth:</label>
                <input type="date" id="date-of-birth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" disabled>
            </div>
            <div class="patient-info">
                <label for="age">Age: </label>
                <input type="text" id="age" value="@Model.Age" disabled>
            </div>
            <div class="patient-info">
                <label for="contact-number">Contact Number: </label>
                <input type="text" id="contact-number" value="@Model.ContactNumber" disabled>
            </div>
        </div>

        <div class="diagnosis-header">
            <span>
                Date:
            </span>

            <span>
                Diagnosis:
            </span>
        </div>
        <div class="diagnosis-container">
            <form asp-action="AddDiagnosis" class="diagnosis-form" asp-route-id="@Model.Id" method="post">
                @if (Model.MedicalRecord is not null)
                {
                    @for (int i = 0; i < Model.MedicalRecord.Diagnoses?.Count(); i++)
                    {
                        var diagnosis = Model.MedicalRecord.Diagnoses.ElementAt(i);
                        <div class="diagnosis">
                            <a class="diagnosis-anchor" asp-action="DiagnosisForm" asp-route-diagnosisId="@diagnosis.Id" asp-route-patientId="@Model.Id">
                                <input class="date-input" type="text" value="@diagnosis.CreatedAt" readonly>
                                <input class="diag-input" type="text" value="@diagnosis.DiagnosisDetails" readonly>
                            </a>
                        </div>
                    }

                    <div id="button-div">
                        <button class="diagnosis-submit" type="submit">Add Diagnosis</button>
                    </div>

                }
            </form>
            
                
        </div>
    </div>
</div>