@{
    ViewData["Title"] = "Procedures";
}

@using MSMS.Models.Procedures;

@model MSMS.Models.Procedures.ActiveProceduresViewModel

<div class="container">
    <div class="max-w search-bar">
        <form asp-action="SearchActiveProcedures" method="post" class="inventory-form">
            <span><i class="fas fa-search"></i></span>
            <input type="text" class="input-search" id="searchString" name="searchString" value="@ViewData["SearchString"]" />
            <input type="submit" hidden />
        </form>
        <form asp-action="AddActiveProcedures" method="post" id="addProcedure">
            <input hidden type="number" name="addAmount" id="hiddenSearchString" />
            <button type="submit">Add</button>
        </form>
        <form asp-action="EditActiveProcedures" method="get" id="EditProcedure">
            <input hidden type="number" name="addAmount" id="hiddenSearchString" />
            <button type="submit">Edit</button>
        </form>
    </div>
    <div class="div-grid">
        <div class="div-table-row" id="header-row">
            <div class="div-table-cell header">
                <span>
                    Patient ID
                </span>
            </div>
            <div class="div-table-cell header">
                <span>
                    Patient Full Name
                </span>
            </div>
            <div class="div-table-cell header">
                <span>
                    Procedure Id
                </span>
            </div>
            <div class="div-table-cell header">
                <span>
                    Procedure Name
                </span>
            </div>
            <div class="div-table-cell header">
                <span>
                    Procedure Price
                </span>
            </div>
            <div class="div-table-cell header">
                <span>
                    Procedure Date
                </span>
            </div><div class="div-table-cell header">
                <span>
                    Procedure Time
                </span>
            </div>
        </div>
        <form asp-action="SaveProcedures" method="post" id="activeprod-form" style="">

            @for (int i = 0; i < Model.ActiveProcedures.Count(); i++)
            {
                
                var procedure = Model.ActiveProcedures[i].Procedure;
                var patient = Model.ActiveProcedures[i].Patient;
               
                <div class="div-table-row">

                    @* Necessary because MVC doesnt bind properly if not all model fields have an input binded to it. *@
                    <input type="hidden" asp-for="ActiveProcedures[i].Id" />
                    <input type="hidden" asp-for="ActiveProcedures[i].PatientId" />
                    <input type="hidden" asp-for="ActiveProcedures[i].ProcedureId" />
                    <input type="hidden" asp-for="ActiveProcedures[i].ProcedureServiceDateTime" />

                    <div class="div-table-cell">
                        <span>
                            @patient.Id
                        </span>
                    </div>
                    <div class="div-table-cell">
                        <span>
                            @patient.FullName
                        </span>
                    </div>
                    <div class="div-table-cell">
                        <span>
                            @procedure.Id
                        </span>
                    </div>
                    <div class="div-table-cell">
                        <span>
                            @procedure.ProcedureName
                        </span>
                    </div>
                    <div class="div-table-cell">
                        <span>
                            &#8369
                        </span>
                        <span>
                            @procedure.ProcedurePrice
                        </span>
                    </div>
                    <div class="div-table-cell">
                        <span>
                            @(DateOnly.FromDateTime(Model.ActiveProcedures[i].ProcedureServiceDateTime))
                        </span>
                    </div>
                    <div class="div-table-cell">
                        <span>
                            @Model.ActiveProcedures[i].ProcedureServiceDateTime.TimeOfDay
                        </span>
                    </div>
                </div>
                
            }

        </form>


    </div>
</div>

<script>
    document.getElementById("addProcedure").addEventListener("submit", function (e) {
        let searchString = document.getElementById("searchString").value;
        document.getElementById('hiddenSearchString').value = searchString;
    });
</script>